<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group">
        <div class="game-list">
            <button *ngFor="let game of games; let i = index" type="button" class="btn btn-secondary"
                [ngClass]="{'highlighted': highlightedGame === i}" (click)="setHighlightedGame(i)">
                Game {{ i }}
            </button>
        </div>
    </div>
</div>

<div class="container" style="padding: 0; margin: 0">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group">
                <div class="d-flex flex-wrap">
                    <button *ngFor="let round of roundKeys" type="button" class="btn btn-secondary"
                        [ngClass]="{'highlighted': highlightedState === round}" (click)="setState(round)">
                        {{ round }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <!-- Fetch Mode Selection -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fetchMode" id="manualFetch" value="manual"
                        [(ngModel)]="fetchMode" (change)="onFetchModeChange()">
                    <label class="form-check-label" for="manualFetch">Manual</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fetchMode" id="automaticFetch" value="automatic"
                        [(ngModel)]="fetchMode" (change)="onFetchModeChange()">
                    <label class="form-check-label" for="automaticFetch">Automatic</label>
                </div>
            </div>
        </div>
        <div class="row mt-2" *ngIf="fetchMode === 'automatic'">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="fetchInterval">Fetch Interval (seconds):</label>
                    <input type="number" class="form-control" id="fetchInterval" [(ngModel)]="fetchInterval"
                        (change)="updateFetchInterval()">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <button class="btn btn-primary" *ngIf="fetchMode === 'manual'" (click)="fetch()">Fetch Game
                    Data</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="games; else noGames">
        <div class="col-md-3 scrollable-container">
            <app-player [participatingPlayers]="games[highlightedGame]?.participating_players"
                [playerData]="games[highlightedGame]?.round_states?.get(highlightedState)?.player_name_player_map"
                [colorMap]="playerColors"></app-player>
        </div>
        <div class="col-md-6">
            <table>
                <tr *ngFor="let row of games[highlightedGame]?.round_states?.get(highlightedState)?.map?.planets">
                    <td *ngFor="let planet of row" class="large-table-cell">
                        <div *ngIf="planet; else voidCell">
                            <div *ngIf="planet.resources; else noResource">
                                <div class="planet-infos">
                                    <div class="image">
                                        <img [src]="getResourceImage(planet.resources[0])" class="resource-image"
                                            alt="material-image" title="{{ planet.resources[0] }}">
                                        <div class="tooltip">{{ planet.resources[1] }}</div>
                                    </div>
                                    <div class="amount">
                                        <span class="formatted-amount" [attr.title]="planet.resources[1]">{{
                                            formatAmount(planet.resources[1]) }}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #noResource>
                                <div class="no-resource"></div>
                            </ng-template>
                            <div class="robot-container">
                                <ng-container *ngIf="getRobotsOnPlanet(planet.planet_id).length > 1; else singleRobot">
                                    <div class="robots-count" [ngStyle]="{'background': getPlanetRobotsGradient(planet.planet_id),
                                     'color': getContrastColor(getPlanetRobotsGradient(planet.planet_id))}">
                                        {{ getRobotsOnPlanet(planet.planet_id).length }}
                                        <!-- <div *ngFor="let playerName of games[highlightedGame]?.participating_players">
                                       {{ getRobotsFromPlanetOfPlayer(planet.planet_id, playerName).length }} 
                                    </div> -->
                                    </div>
                                </ng-container>
                                <ng-template #singleRobot>
                                    <div *ngFor="let robot of getRobotsOnPlanet(planet.planet_id)">
                                        <img *ngIf="robot.health > 0" src='https://robohash.org/{{robot.robot_id}}.png'
                                            alt="" [style.border-color]="getPlayerColor(robot.robot_id)"
                                            class="robot-image">
                                    </div>
                                </ng-template>
                            </div>

                        </div>
                        <ng-template #voidCell>
                            <div class="void"></div>
                        </ng-template>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <div class="killed-robots">
                <h2>Killed Robots:</h2>
                <div
                    *ngFor="let player of games[highlightedGame]?.round_states?.get(highlightedState)?.player_name_player_map | keyvalue">
                    <div *ngIf="player.value.killed_robots">
                        <h4>{{ player.key }}</h4>
                        <div>
                            
                            <h2>{{ calculateTotalKilledRobots(player.value.killed_robots) }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noGames>
        <h1>No games available</h1>
    </ng-template>
</div>