<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group">
        <div class="game-list">
            <button *ngFor="let game of games; let i = index" type="button" class="btn btn-secondary"
                [ngClass]="{'highlighted': highlightedGame === i}" (click)="setHighlightedGame(i)">
                Game {{ i }}
            </button>
        </div>
    </div>
</div>

<div class="container" style="padding: 0; margin: 0">
    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group">
                <div class="d-flex flex-wrap">
                    <button *ngFor="let round of roundKeys" type="button" class="btn btn-secondary"
                        [ngClass]="{'highlighted': highlightedState === round}" (click)="setState(round)">
                        {{ round }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="games; else noGames">
        <div class="col-md-3 scrollable-container">
            <app-player [participatingPlayers]="games[highlightedGame]?.participating_players"
                [playerData]="games[highlightedGame]?.round_states?.get(highlightedState)?.player_name_player_map"
                [colorMap]="playerColors"></app-player>
        </div>
        <div class="col-md-6">
            <table>
                <tr *ngFor="let row of games[highlightedGame]?.round_states?.get(highlightedState)?.map?.planets">
                    <td *ngFor="let planet of row">
                        <div *ngIf="planet; else voidCell">
                            <div *ngIf="planet.resources; else noResource">
                                <div class="planet-infos">
                                    <div class="image">
                                        <img [src]="getResourceImage(planet.resources[0])" class="resource-image"
                                            alt="material-image" title="{{ planet.resources[0] }}">
                                        <div class="tooltip">{{ planet.resources[1] }}</div>
                                    </div>
                                    <div class="amount">
                                        <span class="formatted-amount" [attr.title]="planet.resources[1]">{{
                                            formatAmount(planet.resources[1]) }}</span>
                                    </div>
                                </div>
                            </div>
                            <ng-template #noResource>
                                <div class="no-resource"></div>
                            </ng-template>
                            <div class="robot-container">
                                <div *ngFor="let robot of getRobotsOnPlanet(planet.planet_id)">
                                    <img *ngIf="robot.health > 0" src='https://robohash.org/{{robot.robot_id}}.png'
                                        alt="" [style.border-color]="getPlayerColor(robot.robot_id)"
                                        class="robot-image">
                                </div>
                            </div>
                        </div>
                        <ng-template #voidCell>
                            <div class="void"></div>
                        </ng-template>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <div class="killed-robots">
                <h3>Killed Robots</h3>
                <ul>
                  <li *ngFor="let robotId of killedRobotIds">{{ robotId }}</li>
                </ul>
              </div>
        </div>
    </div>
    <ng-template #noGames>
        <h1>No games available</h1>
    </ng-template>
</div>