<div class="form-container">
  <div class="form-group">
      <label for="maxPlayer">Max Players</label>
      <input type="number" class="form-control" id="maxPlayer" placeholder="6" [(ngModel)]="maxPlayer">
  </div>
  <div class="form-group">
      <label for="maxRounds">Max Rounds</label>
      <input type="number" class="form-control" id="maxRounds" placeholder="50" [(ngModel)]="maxRounds">
  </div>
  <button class="btn-create" (click)="createGame(maxPlayer,maxRounds)">Create Game</button>
</div>